html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='example.css' type='text/css')
    title Komakallio Dashboard
  body
    div.container
      each panel in panels
        div#panel.id
          - filename = 'images/' + panel.id + '-latest.' + panel.extension;
          a(href=filename)
            img(src=filename alt=panel.name)
          h3
            a(href=panel.originalUrl) #{panel.name}

