html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='app.css' type='text/css')
    title Komakallio Dashboard
  body
    div.container
      each panel in panels
        div(id=panel.id)
          - filename = 'images/' + panel.id + '-latest.' + panel.options.extension;
          a(href=filename)
            img(src=filename alt=panel.name onerror='this.onerror="";this.src="not-loaded-image.jpg";')
          h3
            a(href=panel.options.originalUrl) #{panel.name}

