<div id="@Id">
    <a href="@ImagePath">
        <div class="imageContainer">
            <img src="@ImagePath" />
        </div>
    </a>
    <h3>
        <a href="@LinkUrl">@DisplayName</a>
    </h3>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "default-id";

    [Parameter]
    public string DisplayName { get; set; } = "N/A";

    [Parameter]
    public string LinkUrl { get; set; } = "/";

    [Parameter]
    public string CacheBuster { get; set; } = "";

    [Parameter]
    public string ImagePath { get; set; } = "";
}
